
body {
height: 260vh;
background-color: lightskyblue;
}

.header {
position: fixed;
top: 0px;
z-index: 100;
}


#logotipo {
position: relative;
left: 2vw;
top: 1vw;
width: 14vw;
height: 14vw; 
}

.menu {
position: relative;
display: flex;
width: 140vw;
top: -25vh;
}

.nav {
position: relative;
margin: auto;
width: 65vw;
padding-left: 10vw;
z-index: 100;
}
    
    ul, ol {
        list-style: none;
    }
    
    .nav li a {
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        font-size: clamp(16px, 1.25vw, 3vw);
    }
/*     
    .nav li a:hover {
        background-color: #fff;
        color: #000;
    }
    
    .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }
    
    .nav li:hover > ul {
        display: block;
    } */
    
    .Texto1{
        display: flex;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.4vw;
        color: green;
    }
    .inicio, .Asistentes, .Artistas, .Administrador {
        float: left;
        margin-right: 5vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .containerBody {
        position: relative;
        display: flex;
        height: 80vh;
        top: 14vh;
        align-items: center;
    }
    
    
    article {
        position: relative;
        width: 78vw;
        height: 55vh;
        left: 13vw;
        background-color: transparent;
        margin-left: 3vw;  
    }
    
    footer {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #4e0000;
        width: 100vw;
        bottom: -2vw;
        height: 18vh;
    }

    .calificacion{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 1.563vw 2.083vw;
        margin-left: 5vw;
        border: 2px solid black;
        width: 20vw;
        bottom: 1vw;
        border-radius:30px;
        background: black;
        box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, .5), inset 15px 15px 3px rgba(255, 255, 255, .1), -4px -4px 15px rgba(255, 255, 255, .1), inset -2px -2px 12px rgba(0, 0, 0, .75);    
    }
    
    .calificacion input {
        position: relative;
        width: 2vw;
        height: 2vw;
        margin-left: 1vw;
        display: flex;
        justify-content: end;
        align-items: center;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
    
    }
    .calificacion input::before {
        content: "\f005";
        position: relative;
        font-family: fontAwesome;
        font-size: 2vw;
        color: white;
        transition: .5s;
    }
    
    .calificacion input:hover ~ input::before,
    .calificacion input:hover::before,
    .calificacion input:checked ~ input::before,
    .calificacion input:checked::before {
        color: gold;
    }


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin-left: vw;
    width: 30%;
    top: -1.5vw;
}

.card:hover {
    transform: translateY(-1.3vw); /* Eleva la tarjeta ligeramente */
    box-shadow: 0 20px 30px rgb(165, 165, 165); /* Sombra más fuerte al pasar el cursor */
}

/* Estilo de la imagen */
.card-image img {
    object-fit: cover; /* La imagen se ajusta para llenar el contenedor sin distorsionarse */
}

/* Estilo del contenido de la tarjeta */
.card-content {
    padding: 15px;  /* Espaciado interno */
    font-family: 'Arial', sans-serif; /* Tipografía personalizada */
}

    
/*----------------------------------------------------- media 768 -------------------------------------------------*/
    
@media (max-width: 768px){
    
        html {	
        height: 500vh;
        }

        .tituloPrincipal {
        font-size: clamp(30px, 10vw, 12vw);
        width: 160vw;
        }
        
        #logotipo {
        height: 12vw;
        left: 8vw;
        }
        
    
        
        
        article {
            position: relative;
            width: 95vw;
            height: 55vh;
            /* top: 5vw; */
            left: 1vw;
            background-color: transparent;
            margin-left: 3vw;  
        }
        
        .Bga {
        right: 8vw;
        position: relative;
        width: 40vw;
        }
    
        .menu {
            display: block;
            width: 100%;
            left: 15vw;
            z-index: 1000;
        }
        
        .nav {
            display: none;
            position: absolute;
            background-color: #4e0000;
            top: 10vh;
            right: 15vw;
            width: 100vw;
            flex-direction: column;
            padding: 10px 0;
            z-index: 1000;
        }
        
        /* Botón de menú hamburguesa */
        .menu:before {
            content: '☰'; /* Icono de menú hamburguesa */
            font-size: 24px;
            color: #fff;
            padding: 10px 20px;
            background-color: #4e0000;
            display: inline-block;
            cursor: pointer;
        }
        
        /* Mostrar el menú al pasar sobre el botón */
        .menu:hover .nav {
            display: flex;
        }
        
        /* Ajustes para enlaces de navegación */
        .nav li {
            margin: 0;
            padding: 10px 0;
            text-align: center;
        }
        
        .nav li a {
            font-size: 18px;
            padding: 10px 0;
            width: 100%;
            background-color: transparent;
        }
        
        .nav li ul {
            position: static;
            min-width: 100%;
            background-color: #4e0000;
        }
        
        .nav li:hover ul {
            display: block;
            text-align: center;
        }
        
        /* Remueve estilos de flotado y márgenes */
        .inicio, .localidad, .experiencia, .estilo {
            float: none;
            margin: 0;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
        }
        
        .card {
            margin-left: 2vw;
            width: 30%;
            top: -1.5vw;
        }
        
        .card:hover {
            transform: translateY(-1.3vw); /* Eleva la tarjeta ligeramente */
            box-shadow: 0 20px 30px rgb(165, 165, 165); /* Sombra más fuerte al pasar el cursor */
          }
        
        /* Estilo de la imagen */
        .card-image img {
            object-fit: cover; /* La imagen se ajusta para llenar el contenedor sin distorsionarse */
          }
        
        /* Estilo del contenido de la tarjeta */
        .card-content {
            padding: 15px;  /* Espaciado interno */
            font-family: 'Arial', sans-serif; /* Tipografía personalizada */
          }
        }