    
    body {
        height: 100vh; 
        background-color: lightskyblue;
    }
    
    .header {
        top: 0;
    }
    
    
    #logotipo {
        position: relative;
        left: 2vw;
        top: 1vw;
        width: 14vw;
        height: 14vw; 
    }
    
    .menu {
        position: relative;
        display: flex;
        width: 140vw;
        top: -27vh;
    } 
    
    .nav {
        position: relative;
        margin: auto;
        width: 65vw;
        padding-left: 10vw;
    }
    
    ul, ol {
        list-style: none;
    }   
    
    .nav li a {
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        font-size: clamp(16px, 1.25vw, 3vw);
        color: #000;
    } 

    
    .nav li ul {
        display: none;
        position: absolute;
        min-width: 100px;
    }
    
    .nav li:hover > ul {
        display: block;
    } 
    .Texto1{
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vw;
        color: green;
        top: -12vw;
        left: 20vw;
    }

    .img1{
        position: relative;
        width: 28vw;
        height: 28vw;
        top: -20vh;
        left: 36vw;
    } 
    .img2{
        position: relative;
        width: 24vw;
        height: 24vw;
        top: -20vh;
        left: -20vw;
    } 
    .img3{
        position: relative;
        width: 24vw;
        height: 24vw;
        top: -20vh;
        left: 16vw;
    } 
    .inicio, .Asistentes, .Artistas, .Administrador {
        float: left;
        margin-right: 5vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    
    /*----------------------------------------------------- media 768 -------------------------------------------------*/
    
    /* @media (max-width: 768px){
    
        html {	
        height: 500vh;
        }

        
        #logotipo {
        height: 12vw;
        left: 8vw;
        }
    
        
        article {
            position: relative;
            width: 95vw;
            height: 55vh;
            left: 1vw;
            background-color: transparent;
            margin-left: 3vw;  
        }
        
    
        .menu {
            display: block;
            width: 100%;
            left: 15vw;
        }
        
        .nav {
            display: none;
            position: absolute;
            top: 10vh;
            right: 15vw;
            width: 100vw;
            flex-direction: column;
            padding: 10px 0;
            z-index: 1000;
        }
        .menu:before {
            content: '☰'; 
            font-size: 24px;
            color: #fff;
            padding: 10px 20px;
            background-color: #4e0000;
            display: inline-block;
            cursor: pointer;
        }
        .menu:hover .nav {
            display: flex;
        }
        
        .nav li {
            margin: 0;
            padding: 10px 0;
            text-align: center;
        }
        
        .nav li a {
            font-size: 18px;
            padding: 10px 0;
            width: 100%;
            background-color: transparent;
        }
        
        .nav li ul {
            position: static;
            min-width: 100%;
            background-color: #4e0000;
        }
        
        .nav li:hover ul {
            display: block;
            text-align: center;
        }
        

        .inicio, .Asistentes, .Artistas, .Administrador {
            float: none;
            margin: 0;
        }
        }  */